/node_modules

*.js.map

/public/app
/public/reflect-metadata
/public/storage
/public/@angular
/public/core-js
/public/fonts
/public/ng2-charts
/public/rxjs
/public/systemjs
/public/jquery-ui-dist
/public/gridstack
/public/bootstrap
/public/jquery
/public/chartjs
/public/zonejs
/public/d3-flame-graph/
/public/d3-tip/
/public/d3/

/resources/lttng-parser/resultjs/
/resources/lttng-parser/data/

/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.vscode
