/node_modules

*.js.map

/public/storage
/public/@angular
/public/core-js
/public/fonts
/public/ng2-charts
/public/rxjs
/public/systemjs
/public/jquery-ui-dist
/public/gridstack
/public/bootstrap
/public/jquery
/public/chartjs
/public/zonejs

/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.vscode
