<div class="grid-stack">
    <div class="grid-stack-item" *ngFor="let gridItem of gridItems" [attr.data-gs-x]="gridItem.dataGsX" [attr.data-gs-y]="gridItem.dataGsY" [attr.data-gs-width]="gridItem.dataGsWidth" [attr.data-gs-height]="gridItem.dataGsHeight">
        <div class="panel panel-info grid-stack-item-content">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> {{ gridItem.title }}
                    <a class="pull-right"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </h3>
            </div>
            <div class="panel-body">
                <chart [name]="gridItem.name" [type]="gridItem.chartType"></chart>
            </div>
        </div>
    </div>
</div>